* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*above affects the entire page. border-box apparently sizes a box inside another box.
below appears to set the background color of the page.*/
body {
    background-color: #d9dcd6;
}
/*below is the font, color, background, and padding around the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*this code keeps the nav buttons in a line and sets the font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*I think this is the font color for the company name*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Nav Panel  fonts, sizes and colors. these settings below
define the nav bar at the top of the page*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*this is the link and dimensions for the office meeting imagine*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*I think these 2 sections of code below control the picture
positioning relative to the content paragraphs*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*the width reduces the box size to make room for the aside
inline block allows the aside to be placed next to it
margin left puts a bit of space between the content 
and left side of your screen*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*defines the spacing of the words inside the box, their font
their size, the background color of the box*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*these 3 define the spacing of the words in the asides from the spacing of the title below it.*/
/*I was able to condense these sections by focusing on the aside sections under the benefits container*/
.benefits aside {
    margin-bottom: 32px;
    color: #ffffff;
}
/*these affect the spacing at the bottom of the titles*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*the define the spacing around the pictures and max pixel width for pictures in the aside.*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*these next 24 lines of code define the fonts in the articles, the background color and font colors and the max spacing and height*/
/*I was able to condense this code down with the "article" seminal container*/
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*these define the heights for my images in the sections. max 200px*/
/*I was able to condense down this code from its original by applying it to the content container*/
.content img {
    max-height: 200px;
}
/*title spacing for the articles and font size*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*footer setting for alignment and font size*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
